
.grid-container{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

header{
    align-items: center;
}

main{
    align-items: center;
}

img{
  width: 200px;
  height: 200px
}

p{
font-size: 20px;
width:30%;
}

img:hover{
animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}